
@{
    ViewBag.Title = "Index";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(images/background/2.jpg)">
    <div class="auto-container">
        <h1>Latest News</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li class="active">Blog</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side / Blogs Classic-->
            <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="blog-classic">

                    <!--News Block Four-->
                    <div class="news-block-four">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/news-19.jpg" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <ul class="info-box">
                                    <li>By <span class="theme_color">Admin</span></li>
                                    <li>Oct 2,2017</li>
                                    <li>65 Likes</li>
                                </ul>
                                <h3><a href="blog-detail.html">Six Photoshop techniques that save your time and money</a></h3>
                                <div class="text">Dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut laboret dolore magna aliqua. Uet enim minim  veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit voluptate velit esse cillum natus errorit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                                <a href="blog-detail.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!--News Block Four-->
                    <div class="news-block-four">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/news-20.jpg" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <ul class="info-box">
                                    <li>By <span class="theme_color">Admin</span></li>
                                    <li>Oct 2,2017</li>
                                    <li>65 Likes</li>
                                </ul>
                                <h3><a href="blog-detail.html">Top 5 advantages of the minimal web design</a></h3>
                                <div class="text">Dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut laboret dolore magna aliqua. Uet enim minim  veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit voluptate velit esse cillum natus errorit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                                <a href="blog-detail.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!--News Block Four-->
                    <div class="news-block-four">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/news-21.jpg" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <ul class="info-box">
                                    <li>By <span class="theme_color">Admin</span></li>
                                    <li>Oct 2,2017</li>
                                    <li>65 Likes</li>
                                </ul>
                                <h3><a href="blog-detail.html">We are expanding to 7 new locations in next 2 years</a></h3>
                                <div class="text">Dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut laboret dolore magna aliqua. Uet enim minim  veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit voluptate velit esse cillum natus errorit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                                <a href="blog-detail.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!--News Block Four-->
                    <div class="news-block-four">
                        <div class="inner-box">
                            <div class="image">
                                <a href="blog-detail.html"><img src="images/resource/news-22.jpg" alt="" /></a>
                            </div>
                            <div class="lower-box">
                                <ul class="info-box">
                                    <li>By <span class="theme_color">Admin</span></li>
                                    <li>Oct 2,2017</li>
                                    <li>65 Likes</li>
                                </ul>
                                <h3><a href="blog-detail.html">The ultimate application development course. Enroll Now!</a></h3>
                                <div class="text">Dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut laboret dolore magna aliqua. Uet enim minim  veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit voluptate velit esse cillum natus errorit voluptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventor veritatis et quasi architecto beatae vitae dicta sunt explicabo. </div>
                                <a href="blog-detail.html" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div>

                    <!-- Styled Pagination -->
                    <div class="styled-pagination">
                        <ul class="clearfix">
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a class="next" href="#">Next</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <aside class="sidebar right-sidebar">

                    <!-- Search -->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="http://t.commonsupport.com/calena/contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search" required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                    <!--Category Blog-->
                    <div class="sidebar-widget categories-blog">
                        <div class="sidebar-title">
                            <h2>Categories</h2>
                        </div>
                        <div class="inner-box">
                            <ul>
                                <li><a href="#">Travelling</a></li>
                                <li class="active"><a href="#">Beauty</a></li>
                                <li><a href="#">Creative works</a></li>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Fashion news</a></li>
                                <li><a href="#">Photography</a></li>
                                <li><a href="#">Minimal design</a></li>
                            </ul>
                        </div>
                    </div>

                    <!--Popular Posts-->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h2>Recent Posts</h2>
                        </div>

                        <article class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-1.jpg" alt=""></a></figure>
                            <div class="text"><a href="blog-single.html">Photoshop techniques to save time</a></div>
                            <div class="post-info">October 21,2017</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-2.jpg" alt=""></a></figure>
                            <div class="text"><a href="blog-single.html">Advantages of minimal web design</a></div>
                            <div class="post-info">October 21,2017</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><a href="blog-single.html"><img src="images/resource/post-thumb-3.jpg" alt=""></a></figure>
                            <div class="text"><a href="blog-single.html">Expanding to six new locations this year</a></div>
                            <div class="post-info">October 21,2017</div>
                        </article>

                    </div>

                    <!--Text Block-->
                    <div class="sidebar-widget block-posts">
                        <div class="sidebar-title">
                            <h2>Text Block</h2>
                        </div>
                        <div class="text">Magna aliqua enimad mins veniam quis nosar exercitation ullamco laboris nisi aliquip comd sed consequat duis aute rue dolor reprehenderit voluptate velit esse cillum dolore fugiat.</div>
                    </div>

                    <!-- Popular Tags -->
                    <div class="sidebar-widget popular-tags">
                        <div class="sidebar-title">
                            <h2>Popular Tags</h2>
                        </div>
                        <a href="#">minimal design</a>
                        <a href="#">website</a>
                        <a href="#">business</a>
                        <a href="#">portfolio</a>
                        <a href="#">development</a>
                        <a href="#">Css</a>
                    </div>

                    <!--Instagram Widget-->
                    <div class="sidebar-widget instagram-widget">
                        <div class="sidebar-title">
                            <h2>Instagram</h2>
                        </div>
                        <div class="widget-content">
                            <div class="images-outer clearfix">
                                <!--Image Box-->
                                <figure class="image-box"><a href="images/gallery/1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/instagram-thumb-1.jpg" alt=""></a></figure>
                                <!--Image Box-->
                                <figure class="image-box"><a href="images/gallery/2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/instagram-thumb-2.jpg" alt=""></a></figure>
                                <!--Image Box-->
                                <figure class="image-box"><a href="images/gallery/3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/instagram-thumb-3.jpg" alt=""></a></figure>
                                <!--Image Box-->
                                <figure class="image-box"><a href="images/gallery/4.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/instagram-thumb-4.jpg" alt=""></a></figure>
                                <!--Image Box-->
                                <figure class="image-box"><a href="images/gallery/1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/instagram-thumb-5.jpg" alt=""></a></figure>
                                <!--Image Box-->
                                <figure class="image-box"><a href="images/gallery/2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/instagram-thumb-6.jpg" alt=""></a></figure>
                                <!--Image Box-->
                                <figure class="image-box"><a href="images/gallery/3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/instagram-thumb-7.jpg" alt=""></a></figure>
                                <!--Image Box-->
                                <figure class="image-box"><a href="images/gallery/1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/instagram-thumb-8.jpg" alt=""></a></figure>
                                <!--Image Box-->
                                <figure class="image-box"><a href="images/gallery/2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="images/gallery/instagram-thumb-9.jpg" alt=""></a></figure>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>
<!--End Sidebar Page Container-->
<!--Subscribe Section-->
<section class="subscribe-section grey-bg">
    <div class="auto-container">
        <div class="inner-section">
            <div class="row clearfix">
                <div class="title-column col-md-4 col-sm-12 col-xs-12">
                    <h2>Subscribe to Newsletter</h2>
                </div>
                <div class="form-column col-md-8 col-sm-12 col-xs-12">

                    <!--Subscribe Section-->
                    <div class="subscribe-form">
                        <form method="post" action="http://t.commonsupport.com/calena/contact.html">
                            <div class="row clearfix">
                                <!--Column-->
                                <div class="column col-md-9 col-sm-12 col-xs-12">
                                    <div class="row clearfix">
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="name" value="" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" name="email" value="" placeholder="Email address" required>
                                        </div>
                                    </div>
                                </div>
                                <!--Column-->
                                <div class="column col-md-3 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit" class="theme-btn btn-style-one">subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Subscribe Section-->

