
@{
    ViewBag.Title = "Index";
}

 <!--Page Title-->
<section class="page-title" style="background-image:url(images/background/2.jpg)">
    <div class="auto-container">
        <h1>Our Portfolio</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="index.html">Home</a></li>
            <li class="active">Works</li>
        </ul>
    </div>
</section>
<!--End Page Title-->
<!--Project Section-->
<section class="project-section fill-width">
    <!--MixitUp Galery-->
    <div class="mixitup-gallery">
        <div class="auto-container">
            <!--Filter-->
            <div class="filters text-center clearfix">

                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter="all">All</li>
                    <li class="filter" data-role="button" data-filter=".business">Branding</li>
                    <li class="filter" data-role="button" data-filter=".coaching">Logo</li>
                    <li class="filter" data-role="button" data-filter=".financial">illustration</li>
                    <li class="filter" data-role="button" data-filter=".investment">Video</li>
                </ul>

            </div>
        </div>

        <div class="filter-list clearfix">

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/12.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix business coaching all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/13.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/14.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix investment coaching all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/15.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix investment all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/16.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/17.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/18.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix investment coaching all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/19.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/20.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Gallery Block Two-->
            <div class="gallery-block-two mix financial investment all">
                <div class="inner-box">
                    <div class="image">
                        <img src="images/gallery/21.jpg" alt="" />
                        <div class="overlay-box">
                            <div class="content clearfix">
                                <h3><a href="projects-single.html">Minimal Desk Design</a></h3>
                                <div class="category">photography</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br>
        <div class="text-center">
            <a href="#" class="theme-btn btn-style-three">view more</a>
        </div>

    </div>
</section>
<!--End Project Section-->
<!--Subscribe Section-->
<section class="subscribe-section grey-bg">
    <div class="auto-container">
        <div class="inner-section">
            <div class="row clearfix">
                <div class="title-column col-md-4 col-sm-12 col-xs-12">
                    <h2>Subscribe to Newsletter</h2>
                </div>
                <div class="form-column col-md-8 col-sm-12 col-xs-12">

                    <!--Subscribe Section-->
                    <div class="subscribe-form">
                        <form method="post" action="http://t.commonsupport.com/calena/contact.html">
                            <div class="row clearfix">
                                <!--Column-->
                                <div class="column col-md-9 col-sm-12 col-xs-12">
                                    <div class="row clearfix">
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" name="name" value="" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <input type="email" name="email" value="" placeholder="Email address" required>
                                        </div>
                                    </div>
                                </div>
                                <!--Column-->
                                <div class="column col-md-3 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit" class="theme-btn btn-style-one">subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Subscribe Section-->

